@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}

html,
body,
#root {
  height: 100%;
}
